<h1>#Index</h1>
<% @artists.each do |artist| %>
  <div class="border-bottom">
    <p><%= artist.first_name %></p>
    <p><%= artist.last_name %></p>
    <p><%= artist.artist_name %></p>
    <p><%= artist.description %></p>

    <p><%= artist.address %></p>
    <p><% artist.photos.first %></p>
    <% artist.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</div>

    <%= link_to "See details", artist_path(artist) %>
  </div>
<% end %>

