<h1>#New</h1>
<%= simple_form_for(@artist) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :artist_name %>
  <%= f.input :description %>
  <%= f.submit "Create an Artist profile" %>
<% end %>
