<div class="container-fluid artworks-index">
  <% if @match %>
    <%= link_to chatroom_path(@match.chatroom) do %>
      <div class= "circle">
        <i class="far fa-comment"></i>
      </div>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-between align-bottom page-title">
    <h1 class="pt-4"><%= @artist.first_name %> <br> <%= @artist.artist_name %></h1>
    <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150">
  </div>

  <hr>

  <div class="show-info">
    <% @artist.photos.each do |photo| %>
      <%= cl_image_tag photo.key,  width: 320, crop: :fill, class:"artwork-img mb-4" %>
    <% end %>
    <h4><%= @artist.first_name %> <%= @artist.last_name %></h4>
    <p><%= @artist.artist_name %></p>
    <p><%= @artist.description %></p>
    <br>  <br>   <br>
    <%#= link_to "Add an artwork", new_artist_artwork_path(@artist) %>
  <div class="container-fluid" id="artworks-index">
    <div class="d-flex justify-content-between align-bottom">
      <h1>Discover <br> My artworks</h1>
      <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150" margin-top="10px">
    </div>
  </div>
  <hr>

  <% @artist.artworks.each do |artwork| %>
    <div class="artwork-card">
      <%= cl_image_tag artwork.photo.key,  width: 300, class: "artwork-img" %>
      <p class="artwork-title"><%= artwork.title %></p>
      <p class="artwork-style"><%= artwork.style %></p>
    </div>
  <% end %>
</div>
