<h1>#Show</h1>


<p><%= @artist.first_name %></p>
<p><%= @artist.last_name %></p>
<p><%= @artist.artist_name %></p>
<p><%= @artist.description %></p>
<% @artist.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
