<h1>Discover the gallerists</h1>

<div>
  <% @gallerists.each do |gallerist| %>
    <p><%= gallerist.name %></p>
    <p><%= gallerist.address %></p>
    <p><%= gallerist.description %></p>
    <p><%= gallerist.rating %></p>
    <p><% gallerist.photos.first %></p>
    <% gallerist.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</div>
