<div class="container-fluid artworks-index">
  <div class="d-flex justify-content-between align-bottom page-title">
    <h1 class="pt-4"> <%= @gallerist.name %> <br> <%= @gallerist.first_name %> <%= @gallerist.last_name %></h1>
    <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150">
  </div>

  <hr>

  <div class="show-info">
    <%= cl_image_tag @gallerist.photos.first.key,  width: 320, crop: :fill, class:"artwork-img mb-4" %>
    <p class="gallery-description"><%= @gallerist.description %></p>
    <br>  <br>   <br>
  <div class="container-fluid" id="artworks-index">
    <div class="d-flex justify-content-between align-bottom">
      <h1>Discover <br> Our gallery</h1>
      <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150" margin-top="10px">
    </div>
  </div>
  <hr>
  <% @gallerist.photos[1, 5].each do |photo| %>
    <div class="artwork-card">
      <%= cl_image_tag photo.key,  width: 300, class: "artwork-img" %>
    </div>
  <% end %>
</div>
