<h1>#Index</h1>
<% @artworks.each do |artwork| %>
  <div class="border-bottom">
    <h3><%= artwork.title %></h3>
    <p><%= artwork.date %></p>
    <p>Id: <%= artwork.id %></p>
    <p><%= artwork.style %></p>
    <p><%= artwork.artist.first_name %> | id: <%= artwork.artist.id %> </p>
    <%= link_to "See details", artwork_path(artwork) %>
  </div>
<% end %>
