<div class="container-fluid artworks-index">
  <div class="d-flex justify-content-between align-bottom page-title">
    <h1 class="pt-4">Discover <br>new Talents</h1>
    <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150">
  </div>
  <hr>

  <div class="swiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @artworks_filtered.each do |artwork| %>
        <div class="swiper-slide"
              data-swiper-url-value=<%= like_gallerist_path(@gallerist, artwork: artwork) %>
              data-gallerist-id=<%= @gallerist.id %>
              data-artwork-id=<%= artwork.id %>
        >
          <div class="artwork-deck-card">
            <%= cl_image_tag artwork.photo.key %>
            <div class="artwork-info">
              <h4><%= artwork.title %> </h4>
              <br>
              <h3><%= artwork.date %></h3>
              <h3><em><%= artwork.style %></em></h3>
              <h3><%= artwork.artist.artist_name %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center card-like-dislike-btn">
      <a href="#", class="btn-next"><i class="fas fa-times"></i> Nope</a>
      <a href="#", class="btn-love"><i class="far fa-heart"></i> Love</a>
  </div>
<div>
