<h1>#New</h1>
<%= simple_form_for([@artist, @artwork]) do |f| %>
  <%= f.input :title %>
  <%= f.input :date %>
  <%= f.input :style %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add an Artwork" %>
<% end %>
