<div class="container-fluid" id="artworks-show">
<h1>Discover new talent</h1>
<%= cl_image_tag @artwork.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @artwork.title %></p>
<p><%= @artwork.date%></p>
<p><%= @artwork.style %></p>

<div class="container-sm col-12">
<div class="container">
  <%= link_to 'Like', like_gallerist_path(@gallerist), method: :post, class:"btn-dislike btn-outline-primary" %>
  <%= link_to 'Dislike', dislike_gallerist_path(@gallerist), method: :post, class:"btn-dislike btn-outline-primary" %>
  <%# <button type="button" class="btn-dislike btn-outline-primary">Dislike</button> %>
  <%#= simple_form_for([ @gallerist, @favorite ]) do |f| %>
    <%#= f.submit "Love", class: "btn btn-primary" %>
    <%#= hidden_field :favorite, :artwork_id, value: @artwork.id %>
  <%# end %>
  <button type="button" class="btn-decide-later btn-outline-primary">Decide later</button>
</div>

<%= console %>
<div>
