<header>
  <input type='checkbox' id='toggle' style='display:none;' />
  <label class='toggle-btn toggle-btn__cross' for='toggle'>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li>
          <a href="<%= root_path%>"><i class="fas fa-home"></i> Home</a>
          <a href="<%= matches_path%>"><i class="fas fa-user"></i> Profile</a>
          <br>
          <br>
          <a href="<%= new_gallerist_path %>">Add new gallery </a>
          <a href="<%= artworks_path %>"><i class="fas fa-palette"></i> Discover new talents </a>
          <br>
          <br>
          <a href="<%= artworks_path %>">Add new artist </a>
          <a href="<%= new_gallerist_path  %>">Add new artwork</a>
          <br>
          <br>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt"></i> Login
            <% end %>
          </li>
      <% end %>
    </ul>
  </nav>
</header>
