
<div class="container-fluid home-container" >
  <div class="home">
    <h1>🔥 It's an arty match!🔥</h1>
    <h4>We hope you will have a beautiful <br> art story together</h4>
    <%= link_to artist_path(@match.artist) do %>
      <button class="button-welcome">Visit <%= @match.artist.artist_name %>'s profile</button>
    <% end %>
    <%= link_to chatroom_path(@match.chatroom) do %>
      <button class="button-welcome">Contact <%= @match.artist.artist_name %></button>
    <% end %>
  </div>
</div>


  <%# <p><%= @match.artist.artist_name %></p>
  <%# <p><%= @match.artist.description %></p> %>
  <%# <p><%= @match.artist.address %></p> %> %>
